.game-board {
  background-color: #bbada0;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
  margin: 20px 0;
}

.board-row {
  display: flex;
  margin-bottom: 10px;
}

.board-row:last-child {
  margin-bottom: 0;
}
